In [ ]:
# 1. Create a Jupyter Notebook

In [ ]:
# 2. Create markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

In [ ]:
# 3. Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# 10. Insert the markdown cell to list Objectives

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Table of Data Science tools
* Code cell for arithmetic expression

In [ ]:
# 4. Create a markdown cell to list data science languages.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Scala

In [ ]:
# 5. Create a markdown cell to list data science libraries.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. ggplot
4. SciPy

In [ ]:
# 6. Create a markdown cell with a table of Data Science tools.

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Spark|
|RStudio|

In [ ]:
# 7. Create a markdown cell introducing arithmetic expression examples.

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# 8. Create a code cell to multiply and add numbers.

In [7]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [ ]:
# 9. Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [ ]:
# 11. Create a markdown cell to indicate the Authors name

## Author
Kiruthiga Shanmugam

In [ ]:
# 12. Share your notebook through GitHub
# 13. Take a screenshot of the first page of the notebook